/*
File: PayBillsStyle.css
?: Styling for PayBills.html
*/
#payBillsInformation {
    background-color: rgb(204, 198, 198, .85);
    padding:10%;
    height: 200px;   
}

#dues {
    
    font-size: xx-large;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
    text-align: center;
}

#details {
    color: rgb(102, 99, 99);
    font-size: large;
    position: relative;
}

#details:hover { 
    cursor:pointer;
    color: black;
}

#paymentMethods {

    border-style:solid;
    border-bottom:0;
    border-top:0;
    border-right:0;
    
    position: relative;
    width: 20%; 
    height: 130%;
    padding: 5px;
    float: right;
    display: block;
    font-size: larger;
}

#paymentMethods a{
    display: block;
}

#generatedTable { 
    position: relative;
    margin: 0 auto;
    border: 5px;
    border-style: groove;
    background-color: grey;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#generatedTable td {
    border:3px solid black;

}

#detailsDiv {
    margin: 0 auto;
    position:relative;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#loadingPage {
    margin: 0 auto;
    position:relative;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}