/*
File: RegStyle.css
?: Styling for Registration.html
*/
#currClassList {
    min-height: 100px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#submitClass {
    margin: 0;
    padding: 0;
    text-align: center;
    
}
#selectClass {
    width: 70%;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    text-justify: center;
}

#selectClass option:hover {
    cursor: pointer;
}

#selectClassSubmit {
    margin-top: 15px;
    margin-left: 50px;
    padding: 10px;
    align-self: center;
    align-content: center;
}
#currClassList {
    margin: auto;
    display: block;
    align-self: center;
    justify-self: center;
    width: 70%;
    border-radius: 10px;
    background-color: white;
}

#currClassList div:hover {
    cursor: pointer;
    text-decoration: line-through;
    color: darkred;
}

.regContent{
    display: block;
    margin: 20px;
}

#selectedQuarter {
    align-self: center;
    justify-self: center;
    text-align: center;
    text-justify: center;
    width: 100%;
    margin: 8px;
    font-weight: bold;
    font-size: larger;
}

#quarterSelection {
    display: block;
    align-self: center;
    justify-self: center;
    margin: auto;
    width: 15%;
}

#quarterSelection option {
    text-align: center;
    text-justify: center;
}

#quarterSelection option:hover {
    cursor: pointer;
}

#quarterSelectionButton {
    display: block;
    margin: auto;
    margin-top: 20px;
    align-self: center;
    justify-self: center;
    padding: 10px;
}

#selectClassSubmit {
    margin: 20px;
    padding: 5px;
    background-color: cornsilk;
    border-radius: 5px;
    /* float: left; */
}

#clearClassList {
    /* display: block;
    margin: auto; */
    margin: 10px;
    padding: 5px;
    background-color: lightcoral;
    border-radius: 5px;
    /* align-self: center;
    justify-self: center; */
}

#submitClassesButton {
    margin: 20px;
    padding: 5px;
    background-color: whitesmoke;
    border-radius: 5px;
    /* float: right; */
}

#quarterSelectionButtons {
    margin: auto;
    display: block;
    width: 33%;
    align-self: center;
    justify-self: center;
}

#quarterSelectionButtons button:hover {
    cursor: pointer;
}